body{
    background: #009578;
    margin: 50px 15px 15px;
}

/*Form*/
.login-form,
.login-form *{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

/*Logo*/
.login-form-logo-container{
    padding: 30px;
    background: rgba(0,0,0,0.25);
}

.login-form-logo{
    display: block;
    max-width: 125px;
    margin: 0 auto ;
}

.login-form-content{
    padding: 30px;
    background: #eeeeee;
}

.login-form-header{
    margin-bottom: 15px;
    text-align: center;
    color: #333333;
}

.login-form-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.login-form-input:focus{
    border-color:#009578;
}

.login-form-input::placeholder{
    color: #aaaaaa;
}

.login-form-button{
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #009578;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form-button:active{
    background: #008067;
}
