a.addProduct {
    letter-spacing: 1.5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    transition: .3s;
    margin: 18px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    padding: 9px;
    border-radius: 14px;
    margin-left: auto;
    margin-right: auto;
}

a.addProduct:hover{
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
}

a.modifyProduct{
    font-weight: bold;
    color: var(--black);
    cursor: pointer;
    letter-spacing: 1.5px;
    text-decoration: none;
}

td:last-child{
    transition: .3s;
}

td:last-child:hover{
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
}

@media
only screen and (max-width: 1110px),
(min-device-width: 768px) and (max-device-width: 1110px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { border: 1px solid #ccc; }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 15px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        color: var(--black);
        font-weight: bold;
    }
}

@media screen and (max-width: 1110px){
    td:nth-of-type(1):before { content: "Id"; }
    td:nth-of-type(2):before { content: "Prezzo"; }
    td:nth-of-type(3):before { content: "Sesso"; }
    td:nth-of-type(4):before { content: "Nome"; }
    td:nth-of-type(5):before { content: "Sconto"; }
    td:nth-of-type(6):before { content: "Data Inserimento"; }
    td:nth-of-type(7):before { content: "ID-Categoria"; }
    td:nth-of-type(8):before { content: "Taglia"; }
    td:nth-of-type(9):before { content: "Colore"; }
    td:nth-of-type(10):before { content: "Quantità"; }
    td:nth-of-type(11):before { content: "Gestione"; }
}