/*Stile del flexbox*/
.fa-bars{
    font-size: 26px;
    border: 2px solid rgba(255,255,255,.5);
    cursor: pointer;
    transition: .3s;
    padding: 6px;
}

.fa-bars:hover{
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
}

body {
    color: var(--white);
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}

.col-1 {
    background: var(--greenS);
    flex: 0.5;
    transition: all .3s ease-in-out
}

.col-1.collapse{
    transform: translate3d(-230px,0,0);
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 6;
    transition: all .3s ease-in-out
}

.col-2.full-width{
    margin-left: -230px;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: var(--green);
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: center;*/
}

.content > article {
    flex: 4;
    min-height: 60vh;
}

header {
    background: var(--greenS);
}

footer {
    background: var(--green);
    height: 6vh;
    font-size: 14px;
    align-content: flex-end;
    text-align: right;
}

header, footer, article, nav {
    padding: 1em;
}

/* Stile di tutte le pagine admin*/
header .account {
    display: inline;
    font-size: 21px;
}

#logo{
    width: 170px;
    height: 170px;
}

span.account, .account > span{
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

span.account{
    padding-left: 15px;
}

.account > span{
    font-family: "Times New Roman", serif;
    padding-left: 3px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--greenS);
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 45px;
}

.btn:hover {
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
}

nav > a{
    text-decoration: none;
    color: var(--white);
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    padding: 1rem;
    font-size: 17px;
    transition: .3s;
}

nav > a:hover{
    color: var(--hover);
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* scroll se necessario */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Animation Modal*/
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Close Button */
.close {
    padding: 0 10px 0 9px;
    margin-top: 8px;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 10px;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: .3s;
}

.close:hover{
    background-color: #2EE59D;
    border: 2px solid rgba(24,24,24,0.6);
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--greenS);
    color: white;
}

.modal-body {
    padding: 2px 0 0 25px;
    background-color: var(--green);
}

.modal-body p{
    font-size: 15px;
    padding: 5px 0 5px 0;
}

.modal-footer {
    padding: 18px;
    background-color: var(--greenS);
}

.modal-button{
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: var(--greenS);
    width: 100px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.modal-button:hover{
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black);
}

.modal-button:first-child{
    margin-right: 20px;
}

/*Paginator*/
.paginator {
    display: inline-block;
    margin-top: 5px;
}

.paginator  a {
    color: var(--grey);
    float: left;
    padding: 7px 11px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid rgba(255,255,255,.5);
    margin-left: 5px;
}

.paginator a:hover, .active {
    background-color: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
    color: var(--black)!important;
}

@media screen and (max-width: 769px){
    header .account{
        display: none;
    }
}