.content {
    align-content: flex-start;
    justify-content: flex-start;
}

span.empty{
    font-weight: bold;
    color:  #e38e00;;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: var(--greenS);
}

th {
    letter-spacing: 2px;
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 14px;
}

@media screen and (max-width: 425px) {
    table {
        width: 425px;
    }
}

@media screen and (max-width: 375px) {
    table {
        width: 375px;
    }
}

@media screen and (max-width: 320px) {
    table{
        width: 320px;
    }
}

@media screen and (max-width: 1024px)  {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr { border: 1px solid #ccc; }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 15px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        color: var(--black);
        font-weight: bold;
    }
}