.content {
    align-content: flex-start;
}

span.empty{
    font-weight: bold;
    color:  #e38e00;;
}

.container-paginator{
    width: 100%;
    display: block;
    background-color: var(--greenS);
}

table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    background: var(--greenS);
}

th {
    letter-spacing: 2px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td, th {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 13px;
}


@media screen and (max-width: 500px) {
    table {
        width: 425px;
    }
}

@media screen and (max-width: 375px) {
    table {
        width: 375px;
    }
}

@media screen and (max-width: 320px) {
    table{
        width: 320px;
    }
}