/*header bottom start*/
a.color-fixed-navBottom{
    color: var(--hover);
}

a.color2-fixed-navBottom{
    color: var(--black);
}
/*header bottom end*/


/*middle start*/
@media screen and (min-width: 320px) and (max-width: 480px){
    .square{
        width: 100%;
        flex-direction: column;
    }
}

.middle-center{
    padding-bottom: 40px;
}

.about-content h1{
    font-weight: 500;
    line-height: 30px;
    text-transform: capitalize;
    color: #242424;
    font-size: 30px;
    margin-bottom: 19px;
}

.padding{
    padding-left: 20px;
}

.about-content p{
    color: #747474;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 22px;
}

h1{ margin: 0; }

p{
    display: block;
    margin-top: 0;
}

.column-middle{
    width: 60%;
}

.column2-middle{
    width: 40%;
}

.column-middle, .column2-middle{
    margin-top: 0;
}

.image-center-left > img, .image-center-right > img{
    width: 100%;
}

.column-aboutUs {
    position: relative;
    width: 25%;
    padding-top: 20%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.square{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10px 20px 10px 0;
    background-color: #f3f3f3;
}

@media (max-width: 992px) {
    .column-aboutUs {
        width: 50%;
        padding-top: 25%;
    }
}

@media (max-width: 576px) {
    .column-aboutUs {
        width: 100%;
        padding-top: 50%;
    }
}

.counter-info > h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--black);
    line-height: 33px;
    margin: 0;
    text-align: left;
}

.counter-info > p{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--grey);
    margin-bottom: 0;
    line-height: 24px;
    padding-right: 0;
}

.counter-info-image{
    max-width: 30%;
    margin-right: 7px;
}

.counter-info-image > img{
    max-width: 60%;
}

@media screen and (max-width: 992px){
    .column2-middle{
        width: 100%;
    }

    .column-middle{
        width: 100%;
    }

    .image-center-left > img{
        padding-bottom: 30px;
    }

    .image-center-right > img{
        padding-top: 35px;
    }

    .padding{
        padding-left: 0;
    }
}
/*middle end*/