.column-contactImg{
    width: 50%;
    margin-bottom: 0;
}

.column-contactImg img{
    margin-top: 1em;
    width: 110%;
}

@media screen and (max-width: 992px){
    .column-contactImg{
        width: 100%;
    }

    .column-contactImg img{
        width: 80%;
    }
}

@media screen and (max-width: 808px){
    .column-contactImg img{
        width: 110%;
    }
}

