# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\albmo\Desktop\Università\2° Anno\2° Semestre\Tecnologie Software per il WEB\Progetto - Sito Web\Code Toj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
