/*header bottom start*/
a.color2-fixed-navBottom{
    color: var(--hover);
}

a.color-fixed-navBottom{
    color: var(--black);
}
/*header bottom end*/


/*contact-area start*/
.column-contact{
    width: 50%;
}

.contact-area{
    margin-bottom: 60px;
}

.contact-message{
}

.contact-message h1{
    font-size: 25px;
    color: var(--black);
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
    margin-top: 0;
}

.contact-message p{
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
    margin-bottom: 20px;
}

.contact-message ul li {
    width: 100%;
    padding: 13px 0;
    border-top: 1px solid #ddd;
}

input[type=text], input[type=email], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: var(--black);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

input[type=submit]:hover {
    background-color: var(--hover);
}

.google-maps{
    margin-right: 20px;
    margin-left: 20px;
}
/*contact-area end*/
