:root{
    font-family: Arial, Helvetica, sans-serif;
    --white: #FFFFFF;
    --grey: #747474;
    --black: #242424;
    --hover: #fd7e14;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
    line-height: 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grey);
    margin: 0;
}


/* header-top start */
.header-top{
    background: var(--black);
    padding: 7px 0;
    overflow: hidden;
}

.container-top{
    overflow: hidden;
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding-right:1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.container-top span{
    color: var(--white);
    padding-right: 0.2rem;
    margin-right: auto;
}

.container-top p{
    display: inline;
    padding-right: 1rem;
    margin-right: auto;
}

.border{
    border-left: 1px solid var(--grey);
    padding-left: 1rem;
    margin-left: auto;
}

.top-right {
    float: right;
    padding-right: 0;
    margin-right: auto;
}

.top-right a{
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-right a:visited{
    color: var(--white);
}

.top-right a:hover{
    transition: all 0.2s ease 0s;
    color: var(--hover);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.dropbtn {
    display: inline-block;
    color: var(--white);
    border: none;
    text-align: center;
    text-decoration: none;
}

li a{
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
}

.dropdown a{
    padding: 0 ;
    margin-right: 15px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: var(--grey);
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
    margin-left: 16px;
    margin-right: 18px;
}

.border-content{
    border-bottom: 1px solid darkgray;
}

.dropdown-content a:visited {
    color: var(--grey);
}

.dropdown-content a:hover {
    transition: all 0.2s ease 0s;
    color: var(--hover);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icon-left{
    padding-left: 8px;
    margin-left: auto;
}

.image-lang{
    width: 25%;
    height: auto;
    padding-right: 4px;
}
/* header-top end */


/* sidenav start */
.closebtn > a > i{
    padding: 5px 8px;
    position: absolute;
    font-size: 18px;
    top: 5px;
    right: 10px;
    color: var(--white);
    transition: 0.3s;
    border: 1px solid var(--white);
}

.closebtn i:hover{
    color: var(--hover);
    border-color: var(--hover);
}

#sidenav-background-color{
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    cursor: crosshair;
    background: rgba(116, 116, 116, .4);
    top: 0;
}

.sidenav {
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #303030;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav > a{
    text-decoration: none;
    color: var(--white);
}

.sidenav > span{
    font-weight: bold;
    color: var(--white);
}

.sidenav > p{
    color: #9a9a9a;
    margin: 0;
}

.sidenav > hr{
    border: 1px solid rgba(221,221,221,0.4);
    background-color: rgba(221,221,221,0.4);
    width: 85%;
    transform: translate(0, -25px);
}

.search-sidenav input{
    margin-bottom: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 90%;
    color: var(--grey);
    font-size: 14px;
    font-weight: bold;
    border: 1px solid var(--grey);
    border-radius: 10px;
    text-align: center;
}

.select-sidenav{
    padding-bottom: 18px;
}

.select-sidenav > select{
    background-color: #9a9a9a;
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
    width: 90%;
    padding: 10px;
}

.sidenav-btn a, .dropdown-btn {
    padding: 18px;
    text-decoration: none;
    color: var(--white);
    display: block;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: 19px;
    border:none;
}

.dropdown-btn{
    border-bottom: 1px solid var(--grey);
}

.sidenav a:hover, .dropdown-btn:hover {
    color: var(--hover);
    transition: 0.3s;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #555555;
    color: var(--hover);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container-sidenav {
    display: none;
    background-color: #373737;
    padding-left: 20px;
}

.dropdown-container-sidenav > a {
    font-size: 17px;
    border-bottom: 1px solid var(--grey);
    width: 85%;
}

.dropdown-container-sidenav img{
    padding-right: 8px;
    width: 20%;
    height: 20%;
}

/* Style icon sidenav */
.fa-plus, .fa-female, .fa-male, .fa-home,
.fa-address-card, .fa-address-book,
.fa-cart-arrow-down{
    float: right;
    padding-right: 8px;
}

.fa-envelope{
    padding-right: 5px;
}

.social-icon-sidenav i{
    color: var(--white);
    font-size: 20px;
    padding-left: 17px;
    padding-top: 15px;
}

.social-icon-sidenav i:hover{
    color: var(--hover);
}

.open-sidenav{
    float: right;
}

.open-sidenav > i{
    transform: translate(-29px, 29px);
    border: 2px solid var(--grey);
    padding: 8px;
    color: var(--grey);
    font-size: 20px;
    float: right;
    cursor:pointer;
    transition: 0.3s;
}

.open-sidenav i:hover{
    border-color: var(--hover);
    color: var(--hover);
}

@media screen and (min-width: 993px){
    .sidenav{display: none}
    .open-sidenav{display: none}
}
/* Sidebar end*/


/* header-middle start */
.header-middle{
    height: 125px; /*modifica l'altezza del header-middle bianco*/
    position: relative;
    display: inline;
}

.logo img{
    height: auto;
    max-width: 100%;
    padding-top: 15px;
    margin-left: 9px;
}

.form-group{
    position: absolute;
    transform: translate(30%, -170%);
    font-size: 13px;
    background-color: #f6f6f6;
    display: flex;
    width: 600px;
    height: 50px;
    padding: 7px;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(12,18,18,0.4);
}

@media screen and (max-width: 1115px){
    .form-group{
        width: 500px;
    }
}

.custom-select {
    right: 5px;
    position: relative;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #f6f6f6;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 17px;
    right: 10px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: var(--black) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--black) transparent;
    top: 7px;
}

.select-selected{
    font-weight: bold;
    color: var(--black) !important;
}

.select-items div,.select-selected {
    color: #747474;
    padding: 6px 14px;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #f6f6f6;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-middle{
    position: relative;
    width: 280px;
    padding-left: 15px;
    color: var(--black);
    border-right: 1px solid rgba(36,36,36,0.4);
    cursor: pointer;
}

.search{
    width: 100%;
    height: 100%;
}

.search-input{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 10px;
    color: var(--grey);
    font-size: 14px;
}

.btn{
    background-color: var(--white);
    width: 60px;
    height: 100%;
    border: 1px solid var(--white);
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.btn .fa-search:hover{
    font-size: 13px;
    color: var(--hover);
    transition: all 0.2s ease 0s;
}

input, button:focus{
    outline: none;
}

.top-left{
    display: inline;
    float: right;
    padding-right: 1rem; /* Modifica la riga di destra "accedi - registrati e carrello*/
    padding-top: 50px;
    margin-top: auto;
    margin-right: auto;
}

.top-left a{
    text-decoration: none;
    padding-right: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    text-decoration: rgb(36, 36, 36);
}

.top-left a:visited{
    color: var(--black);
}

.top-left a:hover{
    transition: all 0.2s ease 0s;
    color: var(--hover);
}

.cart-link{
    display: inline;
    margin-left: 16px;
    position: relative;
    border: 1px solid rgba(116, 116, 116, 0.4);
    border-radius: 12px;
    padding: 10px 15px;
}

.cart-link span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 2px;
    padding-top: 1px;
}

.icon-right{
    padding-right: 8px;
    margin-right: auto;
}
/* header-middle end */


/*POPUP Accedi registrati start*/
.login__content{
    display: grid;
    margin-right: 20rem;
    margin-top: 33rem;
}

.login__forms{
    position: relative;
    width: 348px;
    margin-left: 13rem;
    justify-self: center;
}

.login__registre, .login__create{
    position: absolute;
    bottom: -2rem;
    width: 100%;
    left: 5rem;
    background-color: #F2F2F2;
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(116,116,116,0.2);
    animation-duration: .4s;
    animation-name: animate-login;
}

@keyframes animate-login{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}

@media screen and (max-width: 863px){
    .login__registre,
    .login__create{left: 3rem;}
}

@media screen and (max-width: 800px){
    .login__registre,
    .login__create{left: 1rem;}
}

@media screen and (max-width: 700px){
    .popup-login{display: none!important;}
}

.login__title{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.login__box{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #FFF;
    margin-top: 1rem;
    border-radius: .5rem;
}

.fa-user, .fa-unlock-alt, .fa-at{
    padding-right: 4px;
    font-size: 1.3rem;
    color: var(--hover);
}

.login__input{
    border: none;
    outline: none;
    font-size: .938rem;
    font-weight: 700;
    color: #242424;
}

.login__input::placeholder{
    font-size: .938rem;
    color: #747474;
}

.login__forgot{
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: .813rem;
    font-weight: 600;
    color: #747474;
}

.login__button{
    text-decoration: none;
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #242424;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.login__button:hover{
    background-color: #fd7e14;
}

.login__account, .login__signin, .login__signup{
    font-weight: 600;
    font-size: .813rem;
}

.login__account{
    color: #242424;
}

.login__signin, .login__signup{
    color: #747474;
    cursor: pointer;
}

/*Show login*/
.block {
    display: block;
}

/*Hidden login*/
.none{
    display: none;
}

/* The popup form - hidden by default */
.popup-login{
    display: none;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.6);
}

.close-icon h1, i{
    display: inline;
}

.icon-close-popup-sigIn i, .icon-close-popup-sigUp i{
    font-size: 30px;
    animation: fade 0.3s;
    transition: all ease 0.3s;
}

.icon-close-popup-sigIn i{
    transform: translate(485%, -60%);
}

.icon-close-popup-sigUp i{
    transform: translate(250%, -60%);
}

.icon-close-popup-sigIn:hover i, .icon-close-popup-sigUp:hover i{
    color: #fd7e14;
}
/*Popup "Accedi - registrati" end*/


/* header-bottom start */
@media screen and (max-width: 992px){
    .nav-bottom{display: none;}
}

.nav-bottom{
    padding-top: 16px;
    padding-bottom: 40px;
}

.nav-bottom a{
    padding-right: 35px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.nav-bottom a:hover{
    transition: all 0.2s ease 0s;
    color: #fd7e14;
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    padding-bottom: 18px;
    z-index: 2;
}

.dropdown-content-bottom a:link {
    color: #242424;
}

.dropdown-content-bottom a:visited {
    color: #242424;
}

.dropdown-content-bottom a:hover {
    transition: all 0.2s ease 0s;
    color: #fd7e14;
}
/* header-bottom end */


/* footer-top start */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.column{
    margin-top: 30px;
    width: 20%;
}

.column2{
    margin-top: 30px;
    width: 35%;
}

.column3{
    margin-top: 30px;
    width: 45%;
}

.column4{
    width: 40%;
}

.column5{
    width: 50%;
}

.column > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--grey);
    font-size: 13px;
    line-height: 35px;
    display: block;
}

.hover:hover{
    transition: all 0.3s ease 0s;
    color: var(--hover);
}

.column > h3, .column2 > h3, .column3 > h3{
    margin-top: 20px;
    color: var(--black);
    font-size: 16px;
}

.column > p, .column2 > p, .column3 > p{
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    color: var(--grey);
    font-size: 13px;
    display: block;
}

.icon{
    display: block;
    float: left;
}

.icon i{
    padding-top: 10px;
    padding-right: 50px;
    font-size: 30px;
    color: rgba(116, 116, 116, 0.5);
}

.hover:hover i{
    transition: all 0.3s ease 0s;
    color: var(--black);
}

.subscribe-form {
    display: block;
    overflow: hidden;
}

.subscribe-form input[type=email]{
    display: block;
    width: 100%;
    padding: 12px;
    border: 2px solid rgba(116, 116, 116, 0.5);
    border-radius: 4px;
    resize: vertical;
    font-size: 14px;
    margin-top: 9px;
}

.button{
    display: block;
    border-radius: 20px;
    background-color: var(--black);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    padding: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 15px;
}

.button span {
    cursor: pointer;
    position: relative;
    transition: 0.4s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover{
    background-color: var(--hover);
}

/*Popup newsLetter*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}

.popup button{
    width: 100%;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s ;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* footer-top end */


/* footer-bottom start */
.footer-bottom{
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid rgba(116, 116, 116, 0.3);
}

.container-footer-bottom{
    max-width: 1140px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.column4{
    display: block;
    float: left;
    margin-top: 15px;
    margin-right: 100px;
    margin-bottom: 15px;
}

.column5{
    margin-top: 15px;
    display: block;
    float: right;
    margin-bottom: 15px;
}
/* footer-bottom end*/


/*Arrow top homepage*/
#scrollUp {
    background: var(--black) none repeat scroll 0 0;
    bottom: 85px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
    line-height: 43px;
    right: 12px;
    text-align: center;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: 0.3s;
    position: fixed;
    z-index: 99;
    display: block;
}

#scrollUp:hover i{
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

hr.border-hr{
    border: 1px solid rgba(221, 221, 221, 0.6);
    background-color: rgba(221, 221, 221, 0.6);
    color: rgba(221, 221, 221, 0.6);
    width: 100%;
    margin-top: 50px;
}

html{
    scroll-behavior: smooth;
}

.scroll{
    position: fixed;
    z-index: 99;
    display: inline;
    scroll-behavior: smooth;
}

@media screen and (max-width: 992px){
    .header-top{display: none}
    .form-group{display: none}
    .cart-link{display: none}
    #hide{display: none}

    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 800px){
    .column{width: 45%;}
    .column2{width: 55%;}
    .column3{width: 100%;}
}

@media screen and (max-width: 502px){
    .column2{width: 100%;}
}


