*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height: 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #747474;
    margin: 0;
}
/* header-top start */
.header-top{
    background: #242424;
    padding: 7px 0;
    overflow: hidden;
}

.container-top{
    overflow: hidden;
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding-right:1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.container-top span{
    color: #FFFFFF;
    padding-right: 0.2rem;
    margin-right: auto;
}

.container-top p{
    display: inline;
    padding-right: 1rem;
    margin-right: auto;
}

.border{
    border-left: 1px solid #747474;
    padding-left: 1rem;
    margin-left: auto;
}

.top-right {
    float: right;
    padding-right: 0;
    margin-right: auto;
}

.top-right a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-right a:visited{
    color: #ffffff;
}

.top-right a:hover{
    transition: all 0.2s ease 0s;
    color: #fd7e14;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

li {
    float: left;
}

.dropbtn {
    display: inline-block;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
}

li a{
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
}

.dropdown a{
    padding: 0 ;
    margin-right: 15px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    /*min-width: 130px;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #747474;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
    margin-left: 16px;
    margin-right: 18px;
}

.border-content{
    border-bottom: 1px solid darkgray;
}

.dropdown-content a:visited {
    color: #747474;
}

.dropdown-content a:hover {
    transition: all 0.2s ease 0s;
    color: #fd7e14;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icon-left{
    padding-left: 8px;
    margin-left: auto;
}

.image-lang{
    width: 25%;
    height: auto;
    padding-right: 4px;
}
/* header-top end */

/* header-middle start */
.header-middle{
    height: 125px; /*modifica l'altezza del header-middle bianco*/
    position: relative;
    display: inline;
}

.logo img{
    height: auto;
    max-width: 100%;
    padding-top: 15px;
    margin-left: 9px;
}

.container{
    position: absolute;
    top: 60%;
    left: 525px;
    transform: translate(-50%, -50%);
}

.form-group{
    transform: translate(10%, 125%);
    font-size: 13px;
    background-color: #f6f6f6;
    display: flex;
    width: 700px;
    height: 50px;
    padding: 7px;
    border-radius: 30px;
    box-shadow: 0 2px 4px 0 rgba(12,18,18,0.4);
}

.dropdown-middle{
    position: relative;
    width: 280px;
    padding-left: 15px;
    color: #242424;
    border-right: 1.5px solid rgba(36,36,36,0.4);
    cursor: pointer;
}

.dropdown-list select{
    background-color: #f6f6f6;
    color: #242424;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    right: 3px;
    border: none;
}

.dropdown-list option{
    background-color: #f6f6f6;
    color: #747474;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/*.default-option{
    font-weight: bold;
    padding: 4px 10px;
    width: 145px;
}

.dropdown-list ul{
    list-style: none;
    background-color: #f6f6f6;
    color: #242424;
    position: absolute;
    top: 50px;
    left: 0;
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(12,18,18,0.4);
    display: none;
}

.dropdown-list ul.active{
    display: block;
}

.dropdown-list ul li{
    padding: 10px 10px 10px 20px;
}

.dropdown-list ul li i{
    margin-right: 5px;
}

.dropdown-middle::before{
    content: "";
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #242424 transparent;
    position: absolute;
    right: 10px;
    top: 50%;
}

.dropdown-list ul li::before{
    content: "";
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #f6f6f6 transparent;
    position: absolute;
    bottom: 100%;
    right: 20px;
}

.dropdown-list ul li:hover{
    background-color: #FFFFFF;
    color: #fd7e14;
    font-weight: bold;
    border-radius: 5px;
}*/

.search{
    width: 1000px;
    height: 100%;
}

.search-input{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 10px;
    color: #747474;
    font-size: 14px;
}

.btn{
    background-color: #FFFFFF;
    width: 60px;
    height: 100%;
    border: 1px solid #FFFFFF;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.btn .fa-search:hover{
    font-size: 13px;
    color: #fd7e14;
    transition: all 0.2s ease 0s;
}

input, button:focus{
    outline: none;
}

.top-left{
    display: inline;
    float: right;
    padding-right: 1rem; /* Modifica la riga di destra "accedi - registrati e carrello*/
    padding-top: 50px;
    margin-top: auto;
    margin-right: auto;
}

.top-left a{
    text-decoration: none;
    padding-right: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
    text-decoration: rgb(36, 36, 36);
}

.top-left a:visited{
    color: #242424;
}

.top-left a:hover{
    transition: all 0.2s ease 0s;
    color: #fd7e14;
}

.cart-link{
    display: inline;
    margin-left: 16px;
    position: relative;
    border: 1px solid rgba(116, 116, 116, 0.4);
    border-radius: 12px;
    padding: 10px 15px;
}

.cart-link span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 2px;
    padding-top: 1px;
}

.icon-right{
    padding-right: 8px;
    margin-right: auto;
}
/* header-middle end */

/* footer-top start */
.column {
    display: block;
    float: left;
    margin-top: 60px;
}

.column h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: #242424;
    font-size: 16px;
    line-height: 22px;
}

.column a{
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    text-decoration: none;
    color: #747474;
    font-size: 13px;
    line-height: 35px;

    display: block;
}

.hover:hover{
    transition: all 0.3s ease 0s;
    color: #fd7e14;
}

.column2{
    display: block;
    float: left;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 100px;
}

.column2 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: #242424;
    font-size: 16px;
    line-height: 22px;
}

.column2 p{
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    color: #747474;
    font-size: 13px;
    display: block;
}

.icon{
    display: block;
    float: left;
}

.icon i{
    padding-top: 10px;
    padding-right: 50px;
    font-size: 30px;
    color: rgba(116, 116, 116, 0.5);
}

.hover:hover i{
    transition: all 0.3s ease 0s;
    color: #242424;
}

.column3 {
    padding-top: 60px;
    text-align: left;
}

.column3 h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    color: #242424;
    font-size: 16px;
    line-height: 22px;
}

.column3 p{
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    color: #747474;
    font-size: 13px;
    display: inline;
}

.subscribe-form {
    display: block;
    overflow: hidden;
}

.subscribe-form form{
    margin-top: 15px;
    width: 370px;
    float: right;
    position: relative;
}

.subscribe-form input{
    background-color: #FFFFFF;
    padding: 0 16px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 45px;
    border: 2px solid rgba(116, 116, 116, 0.5);
    width: 100%;
}

.button{
    display: block;
    border-radius: 20px;
    background-color: #242424;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 370px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 15px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover{
    background-color: #f4511e;
}

.row:after {
    display: table;
    clear: both;
}
/* footer-top end */

/* footer-bottom start */
.footer-bottom{
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid rgba(116, 116, 116, 0.3);
}

.container-footer-bottom{
    max-width: 1140px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.column4{
    display: block;
    float: left;
    margin-top: 15px;
    margin-right: 100px;
    margin-bottom: 15px;
}

.column5{
    margin-top: 15px;
    display: block;
    float: right;
    margin-bottom: 15px;
}

/*Popup*/
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s ;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* foote
/* header-bottom start */
.header-bottom{
    background-color: #FFFFFF;
    overflow: hidden;
    display: block;
}

.nav-bottom{
    padding-top: 16px;
    padding-left: 255px;
    padding-bottom: 40px;
    background-color: #242424;
}

.nav-bottom a{
    padding-right: 35px;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.nav-bottom a:visited{
    color: #ffffff;
}

.nav-bottom a:hover{
    transition: all 0.2s ease 0s;
    color: #fd7e14;
}

.sticky {
    position: fixed;
    top: 0;
    left:0;
    padding-bottom: 18px;
    width: 100%;
    background-color: rgba(36,36,36,0.7);
    z-index: 2;
}

.dropdown-content-bottom a:link {
    color: #242424 ;
}

.dropdown-content-bottom a:visited {
    color: #242424 ;
}

.dropdown-content-bottom a:hover {
    transition: all 0.2s ease 0s;
    color: #fd7e14 ;
}
/* header-bottom end */

/* middle-start */
.image{
    overflow: hidden;
    margin-top: 37px;
    position:relative;
    width:49%;
    height: auto;
    display: inline-block;
}

.image img {
    width:100%;
    vertical-align:top;
}

.image-right {
   float: right;
}

.image-left {
    float: left;
}

.image:after {
    content:'';
    position:absolute;
    width:100%; height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.3s ease 0s;
}

.image:hover:after {
    opacity:1;
}

/*text nelle foto*/
.banner-text{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 20px;
    right: 20px;
    text-align: center;
    z-index: 1;
}

.centered h1{
    font-size: 60px;
    font-family: serif;
    color: white;
    text-decoration: rgb(255,255,255);
    width: auto;
    height: 10px;
}

.centered p{
    font-size: 21px;
    font-family: sans-serif;
    color: white;
    text-decoration: rgb(255,255,255);
}

.centered a{
    font-size: 16px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #FFFFFF;
    padding: 0 0 2px 0;
    line-height: 90px !important;
}

.centered:link a{
    color: #FFFFFF;
}

.centered:visited a{
    color: #FFFFFF;
}

.centered:hover a{
    transition: all 0.4s ease 0s;
    border-bottom: 2px solid #fd7e14;
    color: #fd7e14;
}

.centered:active a{
    color: #fd7e14;
}

#scrollUp {
    background: #242424 none repeat scroll 0 0;
    bottom: 85px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    height: 45px;
    line-height: 43px;
    right: 12px;
    text-align: center;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: 0.3s;
    position: fixed;
    z-index: 2147483647;
    display: block;
}

#scrollUp:hover i{
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


.title-middle{
    text-align: center;
}

.title-middle h2{
    font-size: 36px;
    border-top: 1px solid #DDD;
    color: #242424;
    margin-top: 40rem;
    padding-top: 40px;
    padding-bottom: 1px;
}

.title-middle a{
    color: #747474;
    text-decoration: none;
}

.fa-shopping-cart{
    position: relative;
}

.num-cart-product{
    position: absolute;
    top: -12px;
    right: -7px;
    width:25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

/*new product*/
/*DA QUA E' IL NUOVO!!!!!!!*/
.product-container{
    width:1140px;
    height: auto;
    display: flex;
    justify-content: left; /*center*/
   /* align-items: center;*/
    flex-wrap: nowrap; /*wrap*/
    overflow-x: hidden; /*non c'era*/
    /*flex-wrap: nowrap;
    overflow-x: scroll;*/
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 22px;
    animation: fade 0.3s;
    transition: all ease 0.3s;
}

/*effetto doppia foto in "nuovi arrivi"*/
.cf {
    position:relative;
    height:290px;
    width:290px;
}

.cf img{
    position:absolute;
    left:0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.cf img.top-image:hover {
    opacity:0;
}

.product-img{
    width: 290px;
    height: 290px;
    margin: 23px;
    cursor: pointer;
    position: relative;
}

.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name {
    color: #747474;
    text-decoration: none;
    font-size: 14px;
}

.p-name:hover {
    transition: all ease 0.3s;
    color: #fd7e14;
}

.p-price{
    color: #242424 !important; /*viene sostituito dal white del container*/
    font-size: 14px;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.add-sconto, .add-cart{
    position: absolute;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    animation: fade 0.3s;
    transition: all ease 0.3s;
    z-index: 1;
}

.add-sconto{
    left: -20px;
    background-color: #007A58;
}

.add-cart{
    right: -20px;
    background-color: orange;
    display: none;
}
.add-cart:hover{
    background-color: #f76b6a;
}

.product-box:hover .add-cart{
    display: flex;
}

.new-arrival{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

hr{
    width: 1105px;
    border: 0.5px solid #DDD;
    margin-top: 50px;
}
/* middle-end */
html{
    scroll-behavior: smooth;
}

.scroll{
    position: fixed;
    z-index: 2147483647;
    display: inline;
    scroll-behavior: smooth;
}

#menu {
    position: relative;
}

#nav {
    position: absolute;
    top: 0;
    width: 300px;
}

#prev {
    margin-left: -28rem;
    left: 0;
}

#next{
    margin-right: -28rem;
    right: 0;
}

#next, #prev{
    margin-top: 10rem;
    font-size: 30px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    top: 10px;
    color: #747474;
    position: absolute;
}

#prev:hover,  #next:hover{
    transition: all ease 0.2s;
    color: #fd7e14;
}

/*responsive*/
/*769px - In poi: Small screens, laptops, TV*/
@media screen and (max-width: 769px){

}

/*481px - 768px: iPads, Tablets*/
@media screen and (max-width: 769px){

}

/*320px - 480px: Mobile devices*/
@media screen and (max-width: 769px){

}

/*POPUP Accedi registrati*/
/*===== LOGIN =====*/

.login{
    display: grid;
    grid-template-columns: 100%;
    height: 100px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.login__content{
    display: grid;
}

.login__forms{
    position: relative;
    height: 368px;
}

.login__registre, .login__create{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    background-color: #F2F2F2;
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(116,116,116,0.2);
    animation-duration: .4s;
    animation-name: animate-login;
}

@keyframes animate-login{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}

.login__title{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.login__box{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #FFF;
    margin-top: 1rem;
    border-radius: .5rem;
}

.login__icon{
    font-size: 1.5rem;
    color: #fd7e14;
}

.login__input{
    border: none;
    outline: none;
    font-size: .938rem;
    font-weight: 700;
    color: #242424;
}

.login__input::placeholder{
    font-size: .938rem;
    color: #747474;
}

.login__forgot{
    display: block;
    width: max-content;
    margin-left: auto;
    margin-top: .5rem;
    font-size: .813rem;
    font-weight: 600;
    color: #747474;
}

.login__button{
    text-decoration: none;
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: #242424;
    color: #FFF;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.login__button:hover{
    background-color: #fd7e14;
}

.login__account, .login__signin, .login__signup{
    font-weight: 600;
    font-size: .813rem;
}

.login__account{
    color: #242424;
}

.login__signin, .login__signup{
    color: #747474;
    cursor: pointer;
}

/*Show login*/
.block {
    display: block;
}

/*Hidden login*/
.none{
    display: none;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 576px){
    .login__forms{
        width: 348px;
        margin-left: 13rem; /*non c'era*/
        justify-self: center;
    }
}

@media screen and (min-width: 1024px){
    .login{
        height: 100vh;
        overflow: hidden;
    }

    .login__content{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 28rem;/*non c'era*/
    }

    .login__registre, .login__create{
        left: -11rem;
    }

    .login__registre{
        bottom: -2rem;
    }

    .login__create{
        bottom: -5.5rem;
    }
}

/* The popup form - hidden by default */
.popup-login{
    display: none;
    position: absolute;
    z-index: 5;
}

.close-icon h1, i{
    display: inline;
}

.icon-close-popup i{
    font-size: 30px;
    transform: translate(485%, -60%);
    animation: fade 0.3s;
    transition: all ease 0.3s;
}

.icon-close-popup:hover i{
    color: #fd7e14;
}

