* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height: 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #747474;
    margin: 0;
}
/* header-top start */
.header-top{
    background: #242424;
    padding: 7px 0;
    overflow: hidden;
}

.container-top{
    overflow: hidden;
    max-width: 1140px;
    width: 100%;
    padding-right:1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.container-top span{
    color: #FFFFFF;
    padding-right: 0.2rem;
    margin-right: auto;
}

.container-top p{
    display: inline;
    padding-right: 1rem;
    margin-right: auto;
}

.border{
    border-left: 1px solid #747474;
    padding-left: 1rem;
    margin-left: auto;
}

.top-right {
    float: right;
    padding-right: 2rem;
    margin-right: auto;
}

.top-right a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-right a:visited{
    color: #ffffff;
}

.top-right a:hover{
    color: #fd7e14;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    background-color: #242424;
}

.dropbtn {
    display: inline-block;
    color: white;
    border: none;
    background-color: #242424;
    text-align: center;
    text-decoration: none;
}

li a{
    display: inline-block;
    color: white;
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown a{
   padding: 0;
    margin-right: 15px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #747474;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px solid darkgray;
}

.dropdown-content a:hover {
    color: #fd7e14;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icon-left{
    size: 3px;
    padding-left: 8px;
    margin-left: auto;
}
/* header-top end */

/* header-middle start */
.header-middle{
    height: 125px;
    position: relative;
}

.logo{
    /*padding-left: 3rem; modifica la distanza da sinistra del logo*/
    text-align: left;
    height: auto;
    max-width: 100%;
    padding-top: 15px;
}

.top-left{
    display: inline;
    float: right;
    padding-right: 0rem; /* Modifica la riga di destra "accedi - registrati e carrello*/
    padding-top: 40px;
    margin-top: auto;
    margin-right: auto;
}

.top-left a{
    text-decoration: none;
    padding-right: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    color: #242424;
    text-decoration: rgb(36, 36, 36);
}

.top-left a:visited{
    color: #242424;
}

.top-left a:hover{
    color: #fd7e14;
}

.cart-link{
    display: inline;
    margin-left: 16px;
    position: relative;
    border: 1px solid rgba(116, 116, 116, 0.4);
    border-radius: 12px;
    padding: 10px 15px;
}

.icon-right{
    size: 3px;
    padding-right: 8px;
    margin-right: auto;
}
/* header-middle end */

/* header-bottom start */
.header-bottom{
    background-color: #242424;
    overflow: hidden;
    margin-left: 7.9rem;
    margin-right: 8rem;
    padding: 25px;
}
/* header-bottom end */

.middle{
    padding: 0 0 55px;
}

.images-center img{
    display: inline;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 49%;
}

div.images-center:hover {
}


