* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height: 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: #747474;
    margin: 0;
}
/* header-top start */
.header-top{
    background: #242424;
    padding: 7px 0;
    overflow: hidden;
}

.container-top{
    overflow: hidden;
    max-width: 1140px;
    width: 100%;
    padding-right:1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.container-top span{
    color: #FFFFFF;
    padding-right: 0.2rem;
    margin-right: auto;
}

.container-top p{
    display: inline;
    padding-right: 1rem;
    margin-right: auto;
}

.border{
    border-left: 1px solid #747474;
    padding-left: 1rem;
    margin-left: auto;
}

.top-right {
    float: right;
    padding-right: 0;
    margin-right: auto;
}

.top-right a{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-right a:visited{
    color: #ffffff;
}

.top-right a:hover{
    color: #fd7e14;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white; /*questa è lo spazio alla fine della barra navigazionale*/
}

li {
    float: left;
    background-color: #242424;
}

.dropbtn {
    display: inline-block;
    color: white;
    border: none;
    background-color: #242424;
    text-align: center;
    text-decoration: none;
}

li a{
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
}

.dropdown a{
    padding: 0 ;
    margin-right: 15px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: #747474;
    padding-top: 7px !important;
    padding-bottom: 7px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
    margin-left: 16px!important;
    margin-right: 18px!important;
}

.border-content{
    border-bottom: 1px solid darkgray;
}

.dropdown-content a:visited {
    color: #747474;
}

.dropdown-content a:hover {
    color: #fd7e14;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.icon-left{
    padding-left: 8px;
    margin-left: auto;
}
/* header-top end */

/* header-middle start */
.header-middle{
    height: 125px; /*modifica l'altezza del header-middle bianco*/
    position: relative;
}

.logo img{
    /*padding-left: 3rem; modifica la distanza da sinistra del logo*/
    text-align: left;
    height: auto;
    max-width: 100%;
    padding-top: 15px;
    margin: auto;
}

.top-left{
    display: inline;
    float: right;
    padding-right: 1rem; /* Modifica la riga di destra "accedi - registrati e carrello*/
    padding-top: 50px;
    margin-top: auto;
    margin-right: auto;
}

.top-left a{
    text-decoration: none;
    padding-right: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
    text-decoration: rgb(36, 36, 36);
}

.top-left a:visited{
    color: #242424;
}

.top-left a:hover{
    color: #fd7e14;
}

.cart-link{
    display: inline;
    margin-left: 16px;
    position: relative;
    border: 1px solid rgba(116, 116, 116, 0.4);
    border-radius: 12px;
    padding: 10px 15px;
}

.icon-right{
    padding-right: 8px;
    margin-right: auto;
}
/* header-middle end */

/* header-bottom start */
.header-bottom{
    background-color: white;
    overflow: hidden;
    margin-left: 7.9rem;
    margin-right: 8rem;
    padding: 17px;

}

.nav-bottom{
    overflow: hidden;
    display: block;
    width: 100%;
    text-decoration: none;
    align-items: center;
}

.nav-bottom a{
    color: black;
    padding-right: 3.4rem;
    margin: auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.nav-bottom a:visited{
    color: black;
}

.nav-bottom a:hover{
    color: #fd7e14;
}

.dropbtnNav {
    display: inline-block;
    color: white;
    border: none;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown-content-bottom a:link {
    color: black ;
}

.dropdown-content-bottom a:visited {
    color: black ;
}

.dropdown-content-bottom a:hover {
    color: #fd7e14 ;
}
/* header-bottom end */

/* middle-start */
.middle-top{
    padding: 0 0 55px;
}

.banner-text text{
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    position: absolute;
    transform: translatey(-50%);

}

.images-center img{
    margin: 7px 5px;
    float: right;
    width: 30%;
    vertical-align: middle;
    height: auto;
}



.middle-center{
    padding: 0 0 55px;
}

.images2-center img{
    margin: 10px 5px;
    float: left;
    width: 30%;
    vertical-align: middle;
    height: auto;
}

.banner2-text text{
    float: right;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    position: absolute;
    transform: translatey(-50%);

}



.p1 {
    text-indent: 50px;
    font-size: 20px;
    text-align: justify;
}

.middle-bottom{
    padding: 0 0 55px;
    width: 100%;
}

.square1{
    float:left;
    width:13vw;
    height:13vw;
    margin-right: 4vw;
    background-color: lightgrey;
}

.square{
    float:left;
    width:13vw;
    height:13vw;
    background-color: lightgrey;
}



h3{
    font-size: 20px;
    text-align: center;
}
/* middle-end */
