.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
    left: 0;
}
.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: #000;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 70px;
}
.owl-nav button:focus {
    outline: none;
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        font-size: 50px;
    }
}

/*Img Carousel
*/
.single-product {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.image-first {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-product {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.quick_button {
    position: absolute;
    bottom: 15px;
    left: 10px;
    right: 10px;
    border-radius: 3px;
    opacity: 0;
    transition: 0.3s;
}

.quick_button a {
    text-decoration: none;
    line-height: 45px;
    background: #fff;
    color: #999;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid rgba(116, 116, 116, 0.5);
    font-size: 13px;
    width: 100%;
    text-align: center;
    display: block;
}

.single-product:hover .overlay-product,
.single-product:hover .quick_button{
    opacity: 1;
}

.quick_button a:hover{
    color: #ff6a28;
}

.product_sale {
    top: 46px;
    padding: 0 16px;
    position: absolute;
    left: 15px;
    background: #ff6a28;
    border-radius: 2px;
}

.product_sale span {
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    line-height: 23px;
}

.label_product {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #007a58;
    padding: 0 13px;
    border-radius: 2px;
}

.label_product span {
    text-transform: capitalize;
    color: #fff;
}

@media screen and (min-width: 600px) and (max-width: 800px ){
    .label_product{
        padding: 0 4px;
        display: none;
    }
    .product_sale{
        padding: 0 6px;
        top: 9px;
    }

    .quick_button a{
        width: 93%;
        line-height: 18px;
        font-size: 10px;
    }
}

.product_content h3 {
    line-height: 22px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 9px;
}

.product_content h3 a {
    font-size: 13px;
    color: #999;
}

.product_content a{
    text-decoration: none;
    transition: .3s;
}

.product_content a:hover{
    color: #ff6a28;
}

.product_content span {
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
}