.column-contact{
    width: 50%;
    margin-bottom: 1rem;
}

.column-contact2{
    width: 100%;
    margin-bottom: 0;
}

/*Shopping cart Top start*/
.table_desc {
    border: 1px solid #ddd;
    margin-bottom: 59px;
    margin-top: 2px;
}

.table-responsive{
    overflow-x: auto;
}

.table_desc .cart_page table {
    width: 100%;
}

@media screen and (max-width: 990px){
    .table_desc .cart_page table {
        width: 58.23rem;
    }
}

table {
    display: table;
    caption-side: bottom;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.table-responsive table thead {
    background: #f2f2f2;
}

tbody, td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr {
    text-align: center;
    display: table-row;
    vertical-align: inherit;
}

th{
    display: table-cell;
    vertical-align: inherit;
}

.cart_page table thead tr:last-child th, .table_desc table tbody tr td:last-child {
    border-right: 0;
}

.table_desc .cart_page table thead tr th {
    border-bottom: 3px solid #ff6a28;
    color: #747474;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

td.product_remove, td.product_thumb, td.product_name,
td.product-price, td.product_quantity, td.product_total{
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

td.product_remove, td.product_thumb,
td.product-price, td.product_total{
    width: 133px;
    height: 119px;
}

td.product_name{
    width: 169px;
    height: 119px;
}

td.product_total{
    font-size: 15px;
    color: var(--black);
}

.product_name a{
    font-size: 14px;
    font-weight: 600;
    color: var(--grey);
    text-decoration: none;
    text-transform: capitalize;
}

td.product_quantity{
    width: 186px;
    height: 119px;
}

td.product-price{
    font-size: 21px;
    color: #ff6a28;
}

img{
    max-width: 89px;
    height: auto;
}

.product_quantity input{
    width: 30%;
    height: 36%;
    border: 1px solid #ddd;
    padding: 0 5px 0 10px;
    outline: none;
}

.fa-trash-alt{
    font-size: 20px;
    color: #ff6a28;
}

.cart_submit{
    text-align: right;
    padding: 12px;
}

.cart_submit button{
    background-color: var(--black);
    border: 0;
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
    height: 38px;
    line-height: 18px;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.cart_submit button:hover{
    background-color: #ff6a28;
}
/*Shopping cart Top end*/


/*Shopping cart Bottom start*/
.coupon_code{
    border: 1px solid #ddd;
}

.left{
    width: 100%;
}

.coupon_code h3 {
    color: var(--white);
    line-height: 37px;
    padding: 5px 15px;
    background: var(--black);
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 0;
}

.coupon_inner {
    padding: 5px 20px 25px;
}

.coupon_inner p {
    color: var(--grey);
    font-size: 13px;
    margin-bottom: 20px;
}

p{
    margin-top: 0;
}

.coupon_inner input {
    border: 1px solid #ddd;
    height: 42px;
    background: none;
    padding: 0 20px;
    margin-right: 20px;
    color: var(--grey);
    text-transform: uppercase;
}

.coupon_inner button {
    background: #242424;
    border: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 38px;
    line-height: 18px;
    padding: 10px 15px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
    margin: 0;
}

.coupon_inner button:hover{
    background-color: #ff6a28;
}

.right{
    width: 104%;
}

.cart_subtotal {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cart_subtotal p {
    color: #242424;
    font-weight: 600;
    font-size: 14px;
}

.cart_subtotal p.cart_amount {
    font-size: 18px;
    font-weight: 500;
}

.checkout_btn {
    text-align: right;
}

.checkout_btn a {
    background: #ff6a28;
    color: var(--white);
    font-size: 14px;
    padding: 3px 14px;
    line-height: 30px;
    font-weight: 600;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0;
    text-decoration: none;
    transition: 0.3s;
}

.checkout_btn a:hover{
    background-color: var(--black);
}

hr.border3-hr{
    border: 1px solid rgba(154, 154, 154, .2);
    background-color: rgba(154, 154, 154, .2);
    margin-bottom: 25px;
}

@media screen and (min-width: 768px)
and (max-width: 991px){
    .coupon_inner input {
        margin-bottom: 24px;
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .coupon_inner input {
        margin-bottom: 24px;
        width: 100%;
    }

    .column-contact{
        width: 100%;
        margin-bottom: 4rem;
    }
}
/*Shopping cart Bottom end*/