.column-contact{
    width: 50%;
    margin-bottom: 1rem;
}

.column-contact2{
    width: 100%;
    margin-bottom: 1rem;
}

.column-contact3{
    width: 15%;
    margin-bottom: 1rem;
}

.checkout_form h3{
    font-size: 16px;
    line-height: 30px;
    padding: 5px 10px;
    text-transform: uppercase;
    color: var(--white);
    background: var(--black);
    font-weight: 600;
}

h3{
    margin-top: 0;
}


/*colonna di sinistra*/
.checkout_form label {
    margin-bottom: 6px;
}

.column-contact label {
    display: inline-block;
}

.checkout_form label span {
    color: #ff6a28;
}

.checkout_form input {
    border: 1px solid #ddd;
    background: none;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    color: #747474;
}

.checkout_form input[type="checkbox"] {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    margin-right: 10px;
}

::placeholder {
    color: #9a9a9a;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9a9a9a;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9a9a9a;
}

.hide, .hide2, .hide3{
    display: none;
}

label.label{
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
    font-size: 15px;
    line-height: 27px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}
a, button, img, input, span {
    transition: all 0.3s ease 0s;
}

button, input {
    overflow: visible;
}

button, input, textarea {
    outline: none !important;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.order-notes textarea{
    border: 1px solid #e5e5e5;
    border-radius: 0;
    height: 45px;
    max-width: 100%;
    padding: 0 30px 0 20px;
    background: none;
    font-size: 13px;
    resize: none;
    line-height: 45px;
    width: 100%;
    color: #747474;
}

.padding-right0{
    padding-right: 0;
}


/*colonna di destra*/
.order_table {
    margin-bottom: 35px;
}

.table-responsive{
    overflow-x: auto;
}

.table-responsive table thead{
    background-color: #f2f2f2;
}

.table-responsive table thead tr th {
    text-align: center;
}

.order_table table {
    width: 100%;
}

table {
    display: table;
    text-indent: 0;
    caption-side: bottom;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
}

tr {
    display: table-row;
    vertical-align: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

td{
    display: table-cell;
    vertical-align: inherit;
}

.order_table table thead tr th {
    min-width: 50%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.table-responsive table tbody tr td {
    border-right: 1px solid #ddd;
    color: #242424;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    text-align: center;
    min-width: 150px;
}

.order_table table tbody tr td {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.order_table table tfoot tr th {
    min-width: 50%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.order_table table tfoot tr td {
    min-width: 50%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

strong {
    font-weight: bolder;
}

.order_button button {
    border: 0;
    font-size: 16px;
    line-height: 30px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    background: #ff6a28;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 0;
}

.order_button button:hover{
    background-color: var(--black);
}

.payment_method{
    padding-left: 25px;
}

label img{
    width: 170px;
    height: auto;
    transform: translate3d(0, 24px, 0);
}

label.inline{
    display: inline;
}

@media screen and (max-width: 965px){
    .column-contact{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    label.label{
        font-size: 14px;
    }
}

@media screen and (max-width: 426px ){
    label.label{
        font-size: 12px;
    }
}

@media screen and (max-width: 375px){
    label.label{
        font-size: 10px;
    }
}

@media screen and (max-width: 320px){
    label.label{
        font-size: 8px;
    }
}