@media screen and (max-width: 992px){
    .image{margin: 0 !important;}
}

@media screen and (max-width: 800px){
    #overlay-image-man,
    #overlay-image-woman{width: 100%;}
    #overlay-image-man{margin-top: 30px!important;}
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .centered h1{font-size: 70px!important;}
    .centered p{font-size: 31px!important;}
    .centered a{font-size: 28px!important;}
}

/*header bottom start*/
.nav-bottom{
    padding-left: 255px;
    background-color: var(--black);
}

.nav-bottom a{
    padding-right: 35px;
    color: var(--white);
}

.sticky {
    background-color: rgba(36,36,36,0.7);
}

span.hidden-span{
    display: none;
}
/*header bottom end*/

/* middle-start */
.image{
    overflow: hidden;
    margin-top: 37px;
    position:relative;
    width: 49%;
    height: auto;
    display: inline-block;
}

.image img {
    width:100%;
    vertical-align:top;
}

.image-right {
    float: right;
}

.image-left {
    float: left;
}

.image:after {
    content:'';
    position:absolute;
    width:100%; height:100%;
    top: 0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.3s ease 0s;
}

.image:hover:after {
    opacity:1;
}

/*text nelle foto*/
.banner-text{
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    text-align: center;
    z-index: 1;
}

.centered h1{
    font-size: 60px;
    font-family: serif;
    color: white;
    text-decoration: rgb(255,255,255);
    width: auto;
    height: 10px;
}

.centered p{
    font-size: 21px;
    font-family: sans-serif;
    color: white;
    text-decoration: rgb(255,255,255);
}

.centered a{
    display: block;
    font-size: 18px;
    color: rgb(255,255,255);
    font-weight: bold;
    line-height: 90px !important;
}

.centered:link a{
    color: #FFFFFF;
}

.centered:visited a{
    color: #FFFFFF;
}

.centered:hover a{
    transition: all 0.4s ease 0s;
    color: #fd7e14;
}

.centered:active a{
    color: #fd7e14;
}

.title-middle{
    text-align: center;
}

.title-middle h2{
    font-size: 36px;
    border-top: 1px solid #DDD;
    color: #242424;
    margin-top: 4rem;
    padding-top: 40px;
}

.title-middle a{
    margin-left: 2rem;
    color: #747474;
    text-decoration: none;
}

.fa-shopping-cart{
    position: relative;
}

/*new product*/
.product-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 24px; /*22*/
    animation: fade 0.3s;
    transition: all ease 0.3s;
}

/*effetto doppia foto in "nuovi arrivi"*/
.double-img {
    position:relative;
    height:270px;
    width:270px;
}

.double-img img{
    position:absolute;
    left:0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.double-img img.top-image:hover {
    opacity:0;
}

.product-img{
    width: 270px;
    height: 270px;
    margin: 24px;
    cursor: pointer;
    position: relative;
}

.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    border-top: 1px solid #f3f3f3;
}

.p-name {
    color: #747474;
    text-decoration: none;
    font-size: 14px;
}

.p-name:hover {
    transition: all ease 0.3s;
    color: #fd7e14;
}

.p-price{
    color: #242424 !important; /*viene sostituito dal white del container*/
    font-size: 14px;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.add-sconto, .add-cart{
    position: absolute;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    animation: fade 0.3s;
    transition: all ease 0.3s;
    z-index: 1;
}

.add-sconto{
    left: -20px;
    background-color: #007A58;
}

.add-cart{
    right: -20px;
    background-color: orange;
    display: none;
}
.add-cart:hover{
    background-color: #f76b6a;
}

.product-box:hover .add-cart{
    display: flex;
}

.new-arrival{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*movimento orizzontale sui nuovi prodotti*/
#menu {
    position: relative;
}

#nav {
    position: absolute;
    top: 0;
    width: 100%;
}

#prev {
    left: 0;
}

#next{
    right: 0;
}

#next, #prev{
    top: 11rem;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    color: var(--grey);
    position: absolute;
}

#prev:hover,  #next:hover{
    transition: all ease 0.2s;
    color: var(--hover);
}

@media screen and (max-width: 1124px){
    #next, #prev{
        top:0;
    }
}