.column-filters{
    width: 25%;
}

.filter-price, .filter-category, .filter-size, .filter-color{
    -webkit-animation: fadeIn 0.4s; /* Safari and Chrome */
    -moz-animation: fadeIn 0.4s; /* Firefox */
    -o-animation: fadeIn 0.4s; /* Opera */
    animation: fadeIn 0.4s;
    width:100%;
    display: none;
}

.filter-contenitor{
    border: solid 0.0625rem #e4e4e4;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 15px;
}

.filter-contenitor h3{
    margin: 0;
    color: var(--black);
    font-size: 15px;
}

i.fa-plus{
    padding: 5px;
}

/*Prezzo*/
.slidecontainer {
    width: 100%;
}

.slidecontainer p{
    padding-right: 0;
    padding-left: 10px;
}

.slidecontainer input:first-child{
    margin-top: 10px;
    width: 60%;
}

.button{
    padding: 7px 13px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 5px;
}

/*Categoria*/
.catalog {
    margin: 8px;
}

.catalog label{
    font-size: 14px;
    padding-left: 5px;
}

/*Articoli*/
.column-Art{
    width: 75%;
    padding-left: 30px;
}

.column-img{
    width: 33%;
    padding-right: 40px;
    margin-bottom: 40px;
}

.single-product img{
    width: 100%;
}

@media only screen and (max-width: 426px) {
    .column-filters{
        width: 100%;
    }
    .column-Art{
        padding-left: 0;
        width: 100%;
    }
    .column-img{
        margin-top: 24px;
        padding-right: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    .column-filters{
        width: 40%;
    }
    .column-Art{
        padding-left: 20px;
        width: 60%;
    }
    .column-img{
        padding-right: 15px;
        width: 100%;
    }
    .product_content h3 a{
        font-size: 13px;
    }
    .slidecontainer input:first-child{
        width: 54%;
    }
    .slidecontainer p{
        font-size: 12px;
    }
    .button{
        padding: 7px 10px;
        font-size: 12px;
    }
    .catalog label{
        font-size: 12px;
    }
}

@media screen and (min-width: 769px) and (max-width: 800px){
    .column-img{
        width: 50%;
        padding-right: 25px;
    }
    .column-filters{
        width: 30%;
    }
    .column-Art{
        width: 70%;
        padding-left: 30px;
    }
    .slidecontainer p{
        font-size: 12px;
    }
    .slidecontainer input:first-child{
        width: 57%;
    }
}


/*Paginazione*/
.owl-carousel{
    padding-left: 20px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 35px !important;
}

.paginator {
    display: inline-block;
}

.paginator a {
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 9px;
}

.active_page, .paginator a:hover{
    background-color: rgba(255, 106, 40, 0.5);
}

