.column-filters{
    width: 20%;
}

.filter-price, .filter-category, .filter-size, .filter-color{
    width:100%;
    display: none;
}

.filter-contenitor{
   border: 0.06px solid lightgrey;
   padding-left: 5px;
   font-size: 15px;
   margin-bottom: 10px;
}

.filter-contenitor a{
    float: right;
    margin-top: 5px;
}

/*Prezzo*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff6a28;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff6a28;
    cursor: pointer;
}

/*Colore*/
.container {
    display: block;
    position: relative;
    padding-left: 14px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 10px;
    width: 10px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 2px;
    top: -1px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container .checkmark-wh:after{
    left: 2px;
    top: -1px;
    width: 5px;
    height: 8px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Articoli*/
.products{
    width:80%
}

.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    margin: 22px;
    margin-right: 0;
    animation: fade 0.3s;
    transition: all ease 0.3s;
    width: 30%;
    height:350px;
}

/*effetto doppia foto in "nuovi arrivi"*/
.double-img {
    position:relative;
    height:350px;
    width:100%;
}

.double-img img{
    position:absolute;
    left:0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.double-img img.top-image:hover {
    opacity:0;
}


.product-box img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    border-top: 1px solid #f3f3f3;
}

.p-name {
    color: #747474;
    text-decoration: none;
    font-size: 14px;
}

.p-name:hover {
    transition: all ease 0.3s;
    color: #fd7e14;
}

.p-price{
    color: #242424 !important; /*viene sostituito dal white del container*/
    font-size: 13px;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

.add-sconto, .add-cart{
    position: absolute;
    top: 45px;
    width:30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    animation: fade 0.3s;
    transition: all ease 0.3s;
    z-index: 1;
}

.add-sconto{
    background-color: #007A58;
    margin-left: 10px;
}

.add-cart{
    right: 10px;
    background-color: orange;
    display: none;
}
.add-cart:hover{
    background-color: #f76b6a;
}

.product-box:hover .add-cart{
    display: flex;
}

.chiudi{
    width: 100%;
    display: none;
}


@media only screen and (max-width: 426px) {

    .products{
        width: 90%;
    }
    .product-box {
        flex-direction: column;
        width: 100%;
    }

    .column-filters{
        width: 100%;
        display: none;
    }

    .add-sconto, .add-cart{
        top:55px;
    }

    .chiudi{
        display: block;
        background-color: gainsboro;
        border: 1px solid grey;
    }
}



@media only screen and (min-width: 427px) and (max-width: 1023px) {

    .products{
        width: 100%;
    }

    .product-box {
        flex-direction: column;
        width: 40%;
    }

    .column-filters{
        width: 100%;
        display: none;
    }

    .add-sconto, .add-cart{
        top:55px;
    }

    .chiudi{
        display: block;
        background-color: gainsboro;
        border: 1px solid grey;
    }
}








