/*colonna di sinistra
*/
.btn-Account {
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-align: left;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    margin-bottom: 5px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.active-btn, .btn-Account:hover {
    background-color: #ff6a28;
    color: var(--white);
}

.column-contact{
    width: 26%;
}

.columnAlt{
    width: 74%;
    float: right;
}

.columnAlt-100{
    width: 100%;
    margin-bottom: 2em;
}

.columnAlt-50{
    width: 100%;
    margin-bottom: 2em;
}


/*colonna di destra
*/
.account-content{
    -webkit-animation: fadeIn 0.33s; /* Safari and Chrome */
    -moz-animation: fadeIn 0.33s; /* Firefox */
    -o-animation: fadeIn 0.33s; /* Opera */
    animation: fadeIn 0.33s;
}

.account-content ~ .account-content{
    display: none;
}

.account-content h1{
    font-size: 22px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 0;
}

.account-content p{
    font-size: 15px;
    color: var(--grey);
}

.account-content label {
    margin-bottom: 6px;
}

.account-content input {
    border: 1px solid #ddd;
    background: none;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    color: #747474;
    outline: none;
}

.account-content button{
    border: 0;
    font-size: 16px;
    line-height: 30px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    background-color: #ff6a28;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 0;
}

.account-content button:hover{
    background-color: var(--black);
}

.account-content a{
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
}

.account-content a:hover{
    color: #ff6a28;
}

.column-contact label {
    display: inline-block;
}

.table_desc {
    border: 1px solid #ddd;
    margin-bottom: 59px;
    margin-top: 2px;
}

.table-responsive{
    overflow-x: auto;
}

.table_desc .account_page table {
    width: 100%;
}

@media screen and (max-width: 990px){
    .table_desc .account_page table {
        width: 58.23rem;
    }
}

table {
    display: table;
    caption-side: bottom;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.table-responsive table thead {
    background: #f2f2f2;
}

tbody, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr {
    text-align: center;
    display: table-row;
    vertical-align: inherit;
}

th{
    display: table-cell;
    vertical-align: inherit;
}

.table-responsive table tbody tr td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #242424;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.account_page table thead tr:last-child th, .table_desc table tbody tr td:last-child {
    border-right: 0;
}

.table_desc .account_page table thead tr th {
    border-bottom: 1px solid #ff6a28;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

.order-details a{
    color: #ff6a28;
    text-decoration: none;
}

@media screen and (max-width: 812px){
    .column-contact{
        width: 100%;
        padding-right: 0;
    }

    .columnAlt{
        width: 100%;
    }
}