/*colonna di sinistra
*/
.btn-Account {
    width: 100%;
    height: 40px;
    font-size: 14px;
    text-align: left;
    border: none;
    border-radius: 3px;
    padding: 8px 16px;
    margin-bottom: 5px;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.btn-Account a{
    text-decoration: none;
    color: var(--white);
}

.active-btn, .btn-Account:hover {
    background-color: #ff6a28;
    color: var(--white);
}

.column-product{
    width: 22%;
    margin: 20px 20px 0 0;
}

.column-contact{
    width: 26%;
}

.columnAlt{
    width: 74%;
    float: right;
}

.columnAlt-75{
    width: 75%;
    margin-right: 41px;
    margin-bottom: 2em;
}

.columnAlt-20{
    width: 20%;
    margin-bottom: 2em;
}

.columnAlt-100{
    width: 100%;
    margin-bottom: 2em;
}

.columnAlt-50{
    width: 100%;
    margin-bottom: 2em;
}


/*colonna di destra
*/
.account-content{
    -webkit-animation: fadeIn 0.33s; /* Safari and Chrome */
    -moz-animation: fadeIn 0.33s; /* Firefox */
    -o-animation: fadeIn 0.33s; /* Opera */
    animation: fadeIn 0.33s;
}

.account-content ~ .account-content{
    display: none;
}

.account-content h1{
    font-size: 22px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 0;
}

.account-content p{
    font-size: 15px;
    color: var(--grey);
}

.account-content label {
    margin-bottom: 6px;
}

.account-content input {
    border: 1px solid #ddd;
    background: none;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    color: #747474;
    outline: none;
}

.account-content button{
    border: 0;
    font-size: 16px;
    line-height: 30px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    background-color: #ff6a28;
    font-weight: 600;
    transition: 0.3s;
    margin-bottom: 0;
}

.account-content button:hover{
    background-color: var(--black);
}

.account-content a{
    cursor: pointer;
    color: var(--black);
    text-decoration: none;
}

.account-content a:hover{
    color: #ff6a28;
}

.column-contact label {
    display: inline-block;
}

.table_desc {
    border: 1px solid #ddd;
    margin-bottom: 59px;
    margin-top: 2px;
}

.table-responsive{
    overflow-x: auto;
}

.table_desc .account_page table {
    width: 100%;
}

@media screen and (max-width: 990px){
    .table_desc .account_page table {
        width: 58.23rem;
    }
}

table {
    display: table;
    caption-side: bottom;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.table-responsive table thead {
    background: #f2f2f2;
}

tbody, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

thead {
    display: table-header-group;
    vertical-align: middle;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr {
    text-align: center;
    display: table-row;
    vertical-align: inherit;
    height: 40px;
}

th{
    display: table-cell;
    vertical-align: inherit;
}

.table-responsive table tbody tr td {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #242424;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.account_page table thead tr:last-child th, .table_desc table tbody tr td:last-child {
    border-right: 0;
}

.table_desc .account_page table thead tr th {
    border-bottom: 1px solid #ff6a28;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}


.selected{
    background-color: red ;
}

@media screen and (max-width: 812px){
    .column-contact{
        width: 100%;
        padding-right: 0;
    }

    .columnAlt{
        width: 100%;
    }
}

::placeholder {
    color: #9a9a9a;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9a9a9a;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9a9a9a;
}

.product-box {
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    animation: fade 0.3s;
    transition: all ease 0.3s;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 100%;
    height: 75%;
}

.hide{
    display: none;
}

.hide > h1{
    margin-bottom: 0;
    margin-top: 1.2em;
    padding-left: 1.5em;
    font-size: 20px;
}

.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}

/*effetto doppia foto in "nuovi arrivi"*/
.double-img {
    position:relative;
    height:256px;
    width:100%;
}

.double-img img{
    position:absolute;
    left:0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.double-img img.top-image:hover {
    opacity:0;
}

.product-box img{
    width:100%;
    height: 100%;
    padding: 7px;
    object-fit: contain;
    object-position: center;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    border-top: 1px solid #f3f3f3;
}

a.p-name {
    color: #747474;
    text-decoration: none;
    font-size: 14px;
}

a.p-name:hover {
    transition: all ease 0.3s;
    color: #fd7e14;
}

span.p-price{
    color: var(--black) !important; /*viene sostituito dal white del container*/
    font-size: 13px;
    font-weight: bold;
}

@media screen and (max-width: 992px){
    .column{
        width: 33.33%;
    }
    .double-img{
        height: 213px;
    }
    a.p-name, span.p-price{
        font-size: 11px;
    }
}

@media screen and (max-width: 725px){
    .column{
        width: 50%;
    }
    a.p-name, span.p-price{
        font-size: 11px;
    }
    .double-img{
        height: 178px;
    }
}


@media screen and (max-width: 425px){
    .column{
        width: 100%;
    }
    a.p-name, span.p-price{
        font-size: 13px;
    }
    .double-img{
        height: 178px;
    }
    .product-box{
        height: 100%;
    }
    .column-product{
        width: 91% !important;
    }
}

@media screen and (max-width: 800px){
    .columnAlt-20{
        width: 30%;
    }
    .columnAlt-75{
        width: 100%;
        margin-right: 0;
    }
    .column-product{
        width: 44%;
        margin: 20px 0 0 16px;
    }
}

@media screen and (min-width: 800px) and (max-width: 813px){
    .columnAlt-75{
        width: 74%;
        margin-right: 44px;
    }
    .column-product{
        width: 31%;
        margin: 20px 16px 0 0;
    }
}

@media screen and (min-width: 813px) and (max-width: 992px){
    .columnAlt-75 {
        width: 70%;
        margin-right: 50px;
    }
    .columnAlt-20{
        width: 21%;
    }
    .column-product {
        width: 30%;
        margin: 20px 16px 0 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1140px){
    .columnAlt-75{
        margin-right: 36px;
    }
}