/*header bottom start*/
.nav-bottom{
    background-color: var(--white);
}

.nav-bottom a{
    color: var(--black);
}

.sticky {
    padding-left: 14.8em;
    padding-right: 15.8em;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0 2px 4px 0 rgba(24,24,24,0.2);
}

@media screen and (min-width: 2560px){
    .sticky{
        padding-left: 55.7em;
        padding-right: 55.8em;
    }
}

@media screen and (min-width: 1440px){
    .sticky{
        padding-left: 15.8em;
        padding-right: 15.8em;
    }
}

@media screen and (max-width: 1316px){
    .sticky{
        padding-left: 5.8em;
        padding-right: 5.8em;
    }
}

@media screen and (max-width: 1053px){
    .sticky{
        padding-left: 1.8em;
        padding-right: 3.8em;
    }
}

span.hidden-span{
    color: var(--grey);
    display: inline;
    float: right;
}
hr.border2-hr{
    border: 1px solid rgba(154, 154, 154, .2);
    background-color: rgba(154, 154, 154, .2);
}
/*header bottom end*/


/*middle-top start*/
.middle-top{
    padding: 35px 0 35px;
}

.middle-top a{
    margin-right: 2px;
    font-size: 15px;
    text-decoration: none;
    color: var(--grey);
}

.middle-top a:hover{
    color: var(--hover);
}

.middle-top span{
    margin-left: 1px;
    font-size: 15px;
    color: #242424;
}
/*middle-top end*/


/*contact-area start*/
.column-contact{
    padding-right: 28px;
    width: 50%;
    margin-bottom: 60px;
}

@media screen and (max-width: 992px){
    .column-contact{
        width: 100%;
        padding-top: 0;
    }
}

.contact-message h1{
    font-size: 25px;
    color: var(--black);
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 25px;
    margin-top: 0;
}

.contact-message p{
    font-size: 14px;
    line-height: 24px;
    color: var(--grey);
    margin-bottom: 20px;
    margin-top: 0;
}

.contact-message ul li {
    width: 100%;
    padding: 13px 0;
    border-top: 1px solid #ddd;
}

.contact-message textarea {
    outline: none;
    height: 170px;
    border: 1px solid #ddd;
    background: #ffffff;
    resize: none;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 20px;
    color: #747474;
}

.contact-message label{
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
}

.contact-message input[type=text],
.contact-message input[type=email],
.contact-message input[type=password]{
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.submit-button-log{
    width: 30%;
    background-color: #ff6a28;
    font-weight: 700;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

input.submit-button-log:hover{
    background-color: var(--black);
}