.column-contact{
    margin-bottom: 0;
}

.column-contact h1 {
    color: var(--black);
    font-size: 9.5em;
    font-weight:bold;
}

.column-contact h2 {
    color: var(--black);
    font-weight:bold;
    font-size: 3em;
    line-height: 1.3em;
}

.column-contact p{
    color: var(--grey);
    font-size: 20px;
}

.column-contact img{
    margin-top: 1em;
    width: 90%;
}

a.color2-fixed-navBottom{
    color: var(--black);
}

.error_form a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #ff6a28;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    line-height: 42px;
    padding: 0 30px;
    text-transform: uppercase;
    margin-top: 35px;
    cursor: pointer;
    transition: all 0.3s;
}

.error_form a:hover{
    background-color: var(--black);
}

.center{
    text-align: center;
}

@media screen and (max-width: 1117px){
    .column-contact h2{
        font-size: 2.6em;
    }
}

@media screen and (max-width: 992px){
    .column-contact img{
        width: 55%;
    }

    .column-contact h2{
        font-size: 3em;
        line-height: 1.3em;
        margin-bottom: 20px;
    }

    .error_form a{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 808px){
    .column-contact img{
        width: 80%;
    }
}

@media screen and (max-width: 600px){
    .column-contact{
        text-align: center;
    }
}

@media screen and (max-width: 808px){
    .column-contact h1{
        font-size: 6.5em;
    }

    .column-contact h2{
        font-size: 2em
    }

    .column-contact p{
        font-size: 17px;
    }
}

@media screen and (max-width: 376px){
    .column-contact h1{
        font-size: 5.5em;
    }

    .column-contact h2{
        font-size: 1.7em
    }

    .column-contact p{
        font-size: 15px;
    }
}